#ab {
    background-color: aqua;
}

aboutMain {
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

.about1 {
    font-size: 17px;
    float: left;
    width: 40%;
    height: auto;
    margin-left: 100px;
}

.about12 img {
    width: 40%;
    height: 95%;
    margin-top: 9%;
    margin-bottom: 9%;
    margin-left: 100px;
    border-left: 4px solid rgb(192, 112, 7);
}

.whyabout {
    text-align: center;
    margin: 20px;
}

.whyabout p {
    font-size: 18px;
    margin-left: 30%;
    margin-right: 30%;
    color: rgba(15, 13, 13, 0.5);
    margin-bottom: 80px;
}

.whymain {
    position: relative;
    width: 100%;
    height: 800px;
    margin: 10px;
}

.adv {
    font-size: 20px;
    text-align: center;
    width: 30%;
    height: fit-content;
    float: left;
    margin: 25px;
    margin-left: 20px;
    border: 3px dotted rgb(192, 112, 7);
}

.adv:hover {
    background-color: rgb(192, 112, 7);
    color: aqua;
}

.adv i {
    font-size: 50px;
    margin: 10px;
}