    div.contact1 {
        position: relative;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        display: flex;
        padding: 10%;
    }
    
    .container {
        text-align: center;
        background-color: white;
        width: 50%;
        height: auto;
        border-top: 5px solid rgb(24, 24, 142);
        box-shadow: 0 0 8px grey;
    }
    
    .container h1 {
        font-size: 35px;
        line-height: 24px;
        padding: 30px;
        text-align: center;
    }
    
    .inputname {
        width: 90%;
        position: relative;
        margin: 20px auto;
    }
    
    .lock {
        padding: 8px 11px;
    }
    
    .name {
        width: 45%;
        padding: 8px 0 8px 40px;
    }
    
    .inputname i {
        position: absolute;
        font-size: 18px;
        color: rgb(24, 24, 142);
        border-right: 1px solid grey;
    }
    
    .inputname .name:hover {
        background-color: aqua;
    }
    
    .meg textarea:hover {
        background-color: aqua;
    }
    
    .msg textarea {
        width: 82%;
        height: auto;
        position: relative;
        margin: 20px auto;
        font-size: 18px;
    }
    
    .button {
        background-color: rgb(24, 24, 142);
        border-radius: 6px;
        color: white;
        height: 40px;
        line-height: 35px;
        width: 50%;
        border: none;
        outline: none;
        font-size: 18px;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    .button:hover {
        background-color: rgb(8, 8, 92);
    }